In [1]:
print("HOPE AI")

HOPE AI

In [2]:
ins_name=input("Enter your institute name:")
print("Your institute name:",ins_name)

Enter your institute name: Hope AI

Your institute name: Hope AI

In [3]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
school=input("Enter your School name:")
degree=input("Enter your degree:")
print("Name=",name,"\nAge=",age,"\nSchool=",school,"\nDegree=",degree)

Enter your name: Jayashree
Enter your age: 35
Enter your School name: KRM
Enter your degree: CS

Name= Jayashree
Age= 35
School= KRM
Degree= CS

In [4]:
a=43
b=34
add=a+b
print("a=",a,"\nb=",b,"\nAdd=",add)

a= 43
b= 34
Add= 77

In [5]:
sub=a-b
print("a=",a,"\nb=",b,"\nSub=",sub)

a= 43
b= 34
Sub= 9

In [7]:
a=63
b=97
mul=a*b
print("a=",a,"\nb=",b,"\nMul=",mul)

a= 63
b= 97
Mul= 6111

In [9]:
a=76
b=31
div=a/b
print("a=",a,"\nb=",b,"\nFloat Div=",div)

a= 76
b= 31
Float Div= 2.4516129032258065

In [10]:
floor_div=a//b
print("a=",a,"\nb=",b,"\nFloor Div=",floor_div)

a= 76
b= 31
Floor Div= 2

In [11]:
mod=a%b
print("a=",a,"\nb=",b,"\nMod=",mod)

a= 76
b= 31
Mod= 14

In [12]:
a=4
b=4
power=a**b
print("a=",a,"\nb=",b,"\nPower=",power)

a= 4
b= 4
Power= 256